using './main.bicep'

param storageAccountName = 'alivestoragebb99ee6e'
param runtimeImage = 'alive.azurecr.io/alive/asset-api@sha256:REPLACE_ME'
param migrationImage = 'alive.azurecr.io/alive/asset-api@sha256:REPLACE_ME'
